/* ------------------ GENEREAL ------------------ */
html {
    box-sizing: border-box;
    background: radial-gradient(circle, rgb(0, 0, 0, 0.6), rgba(0,0,0,0)),
    url('https://cdn.pixabay.com/photo/2015/03/06/15/00/mountain-garden-661831_960_720.jpg') fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Inconsolata', monospace;
}

body {
    display: flex;
    flex-direction: column;
}


/* ------------------ NAV ------------------ */
.controls {
    display: flex;
    background-color: coral;
}

.controls button {
    flex-grow: 1;
}

.controls button {
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    border: none;
    border-right: 3px #fff solid;
    border-bottom: 3px #fff solid;
    font-size: 1em;
    padding: 10px 10px;
}

/* ------------------ BODY ------------------ */

.display {
    align-self: center;
    

}

.display-time-left {
    font-size: 5em;
    text-align: center;
  
}

.display-pomodoro-count {
    text-align: center;
    font-size: 3em;
    
}

